<h1>Administration Panel</h1>

<h2>Reset</h2>
<form method="post" action="/admin">

  Soft Reset:
  This will remove all vote counts, and vote records.
  <br/>

  Hard Reset:

  This will delete everything. Period.


  <br/>
  <br/>
  <input type="submit" name="softreset" value="Soft Reset"/>
  <input type="submit" name="hardreset" value="Hard Reset"/>
  <br/><br/>
</form>

<ul>
  <% @records.each do |record| %>
      <li><b><%= record.ip %></b> -- <%= record.votes.count %> [
        <a href="/admin/del/votes/<%= record.id %>">eliminate votes</a> ]
      </li>
  <% end %>
</ul>


To add users, click <a href="/admin/person/add">here</a>
