<h1>Administration Panel</h1>

<h2>Reset</h2>
<form method="post" action="/admin" >

Soft Reset:
This will remove all vote counts, and vote records.
<br />

Hard Reset:

This will delete everything. Period.



Enter your password, and click submit.

<br />
Password: <input type="password" name="password" \>
<br />
<input type="submit" name="softreset" value="Soft Reset"\>
<input type="submit" name="hardreset" value="Hard Reset"\>
<br /><br />
</form>


To add users, click <a href="/admin/person/add">here</a>
