<title>Remove Contestant</title>
<h1>Remove Contestant</h1>
<form action="/del/take" method="post">
Voting code of the person to remove: <input type="text" name="id" />
Password: <input type="password" name="password" />
<input type="submit" name="submit" value="Submit" />
</form>
