<title>Remove Contestant</title>
<h1>Remove Contestant</h1>

<% singer = Singer.first(:id => params[:id].to_i) %>

<form action="/admin/person/delete" method="post">
Are you sure you want to remove <%= singer.name %> (Votes: <%= singer.tally %>) (Code: <%= singer.id %>) ? <br />

If so, type your password, and hit submit. <br />
<input type="hidden" name="id" value="<%= params[:id] %>" />
Password: <input type="password" name="password" />
<input type="submit" name="submit" value="Submit" />
</form>
